.MainGrid {
    position: absolute;
    bottom: 0;
    left: 0;
    display: grid;
    grid-template-columns: 17% 0.5% 82.5%;
    width: 100%;
    height: 100%;
    min-height: 600px;
    min-width: 1220px;
}

.MenuGrid {
    display: grid;
    grid-template-rows: 24.5% 1% 12% 0.5% 12% 0.5% 12% 0.5% 12% 0.5% 12% 0.5% 12%;
}

.MenuGrid button {
    font-size: 34px;
    height: 100%;
    width: 100%;
    background-color: rgb(146, 245, 85, 0.6);
    border-width: 0px;
}

.outer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.razdel {
    background-color: #353535de;
}

.RightGrid {
    display: grid;
    grid-template-rows: 24% 2% 74%;
}

.UpperMenu {
    display: grid;
    grid-template-rows: 20% 80%;
}

.PersonInfo div {
    font-size: 38px;
    border: 2px solid;
    float: right;
    display: inline-block;
}

.PersonInfo p {
    margin-top: 2px;
    margin-bottom: -2px;
    padding-left: 30px;
    padding-right: 30px;
}

.UpperMenu .NameCompany {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 68px;
}

.butObsh button {
    background-color: rgb(146, 245, 85);
    border-color: rgb(39, 165, 29);
    border: 5px initial;
    border-width: 5px;
    border-radius: 20px;
    width: 160px;
    height: 50px;
}
.btnUpdate {
    background-color: rgb(33, 252, 252);
    border-color: rgb(42, 193, 188);
    border: 5px initial;
    border-width: 5px;
    border-radius: 20px;
    width:120px;
    margin-left:20px;
    font-size:18px;
}
.btnInfo {
    background-color: rgb(248, 207, 45);
    border-color: rgb(212, 178, 42);
    border: 5px initial;
    border-width: 5px;
    border-radius: 20px;
    width: 120px;
    margin-left: 20px;
    font-size: 18px;
}
.btMuv {
    background-color: rgb(53, 212, 255);
    border-color: rgb(49, 168, 200);
    border: 5px initial;
    border-width: 5px;
    border-radius: 20px;
}
.menuZad {
    margin-left:20px;
    margin-top: 10%;
    display: grid;
    grid-template-columns: 48% 2% 48%;
}
.Var {
    border: 5px solid;
    border-radius: 20px;
    display: grid;
    grid-template-rows: 38% 4% 58%;
    border-color: #353535de;
    width:100%;
    height:200%;
}
.Var .bt {
    display: flex;
    align-items: end;
    justify-content: center;
    font-size: 32px;
    margin-bottom: 20px;
}

.Var button {
    background-color: rgb(146, 245, 85);
    border-color: rgb(39, 165, 29);
    border: 5px initial;
    border-width: 5px;
    border-radius: 20px;
    width: 250px;
    height: 80px;
}
.Var .Name{
    margin-top:20%;
    font-size:32px;
    text-align:center;
}
.Tablee{
    margin-left:40px;
    width:700px;
    height:400px;
}
.NameTable{
    text-align:center;
    font-size:28px;
}
th {
    text-align: center;
}
tr .Sender{
    width:45%;
    border-width:2px;
    border:solid;
}
tr .Message {
    border-width: 2px;
    border: solid;
}
